@font-face {
    font-family: 'Noto';
    src: url('./NotoSansHebrew-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight:800;
    font-style: normal;
  }
  @font-face {
    font-family: 'NotoR';
    src: url('./NotoSansHebrew-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight:300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Assistant';
    src: url('./Assistant-VariableFont_wght.ttf') format('truetype');
    font-weight:800;
    font-style: normal;
  }
  @font-face {
    font-family: 'AssistantR';
    src: url('./Assistant-VariableFont_wght.ttf') format('truetype');
    font-weight:300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Heebo';
    src: url('./Heebo-VariableFont_wght.ttf') format('truetype');
    font-weight:800;
    font-style: normal;
  }
  @font-face {
    font-family: 'HeeboR';
    src: url('./Heebo-VariableFont_wght.ttf') format('truetype');
    font-weight:300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Berto';
    src: url('./Aboreto-Regular.ttf') format('truetype');
    font-weight:300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Bona';
    src: url('./BonaNovaSC-Regular.ttf') format('truetype');
    font-weight:400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Stardos';
    src: url('./StardosStencil-Bold.ttf') format('truetype');
    font-weight:400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Fredoka';
    src: url('./Fredoka-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight:300;
    font-style: normal;
  }
  @font-face {
    font-family: 'OpenSansR';
    src: url('./opensanshebrew-light-webfont.ttf') format('truetype');
    font-weight:300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Birth';
    src: url('./BirthstoneBounce-Medium.ttf') format('truetype');
    font-weight:300;
    font-style: normal;
  }